:root {
  --dark_blue: #10242e;
  --middle_blue: #2d4c56;
  --light_wood: #bc9d7f;
  --middle_wood: #ae6b39;
  --cream_light: #e3e0db;
  --bg_color: #d9d9d9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
